<nav class="navbar">
    <div class="nav-left logo-container">
        <a href="/" class="logo-link">
            <img src="/img/logo.jpg" alt="Logo Mercado Musical" class="logo-image" />
            <h1>Mercado Musical</h1>
        </a>
    </div>

    <div class="nav-center">
        <form action="/buscar" method="GET" class="search-form">
            <input type="text" name="q" placeholder="Buscar instrumentos, discos..." />
            <button type="submit">
                <img src="/img/buscar.png" alt="img" class="search-btn">
            </button>
        </form>
    </div>

    <div class="nav-right">
        <a href="/register">Registro</a>
        <a href="/login">Login</a>
        <a href="/cart" class="cart-link">
            <img src="/img/carrito.png" alt="Carrito" class="cart-icon" />
        </a>
    </div>
</nav>