<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Carrito</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>

    <%- include('partials/navbar-auth') %>

  </header>
  
  <!-- Contenido principal -->
  <main class="cart-placeholder" style="text-align: center; margin-top: 5rem;">
    <h1>Carrito vacío</h1>
    <p>Tu carrito aún no tiene productos.</p>
  </main>

  <!-- Footer (desde partials) -->
  <%- include('partials/footer') %>

</body>
</html>
