<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle del Producto</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>

        <%- include('partials/navbar-auth') %>
    </header>

  <main class="main-container">
    <section class="product-detail">
      <h1>Detalle del Producto</h1>
      <!-- Acá podés agregar el contenido dinámico del producto más adelante -->
    </section>
  </main>

  <%- include('partials/footer') %>
</body>
</html>
